body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Yeseva One", cursive;
    font-weight: 800;
    text-transform: capitalize;
    color: #fd5382;
}

button {
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
    padding: 5px;
}

img {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

i {
    color: #d397ff;
    margin-left: 0;
    padding: 1px;
}

i.fa-solid.fa-location-dot, h1 {
    display: inline-block;
    margin: 0 1rem;
    vertical-align: middle;
}

i.fa-solid.fa-location-dot {
    font-size: larger;
}

i.fa-solid.fa-location-dot:hover {
    cursor: pointer;
}

span.date {
    color: #e0115f;
}

span.hours {
    color: #e0115f;
}

span.meridian {
    color: #e0115f;
}

input#city-input {
    color: #e0115f;
}

.current-temperature {
    text-align: center;
    color: #fd5382;
    font-weight: bold;

}

.weather-app-wrapper {
    max-width: 650px;
    height: 700px;
    margin: 50px auto;
}

.weather-app {
    padding: 1.5rem 2rem;
    border: 1px solid #dadde1;
    border-radius: 10px;
    box-shadow: 3px 10px 44px 0 rgba(0, 0, 0, 0.18);
    background-image: url("../img/bright-colorful-sky.jpg");
    background-size: cover;
    font-weight: bolder;
}

.description {
    font-size: 20px;
    color: #fd5382;
    font-weight: 600;
}

div.wind {
    color: #fd5382;
}

span.wind-span {
    color: #e0115f;
}

div.humidity {
    color: #fd5382;
}

span.humidity-span {
    color: #e0115f;
}

a.githubLink {
    text-decoration: none;
    color: #C06CF0;
}

.units-temperature {
    position: relative;
    font-size: 16px;
    top: -4px;
    color: #e0115f;
}

.units-temperature:hover {
    cursor: pointer;
}

.data-units {
    color: #e0115f;
}

.day {
    color: #C06CF0;
    font-weight: bolder;
}

.temperature {
    color: #fd5382;
}

.icon {
    font-size: larger;
}






