body {
    font-family: Georgia, Times, "Times New Roman", serif;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family: "Yeseva One", cursive;
    font-weight: 800;
    text-transform: capitalize;
}

button {
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
    padding: 5px;
}

i {
    color: #2e8aa5;
    margin-left: 0;
    padding: 1px;
}

i.fa-solid.fa-location-dot, h1 {
    display: inline-block;
    margin: 0 1rem;

    vertical-align: middle;
}

i.fa-solid.fa-location-dot {
    font-size: larger;
}

.current-temperature {
    text-align: center;

}

.weather-app-wrapper {
    max-width: 650px;
    height: 700px;
    margin: 50px auto;
}

.weather-app {
    padding: 1.5rem 2rem;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

.description {
    font-size: 20px;
}

.units-temperature {
    position: relative;
    font-size: 16px;
    top: -4px;
}

.units-temperature:hover {
    cursor: pointer;
}










